In [75]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections
import itertools as it

In [76]:
movies = pd.read_csv('movie_bd_v5.csv')
movies.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1332,tt0388482,32000000,85167639,Transporter 2,Jason Statham|Amber Valletta|Kate Nauta|Alessa...,Louis Leterrier,The Best In The Business Is Back In The Game.,Professional driver Frank Martin is living in ...,87,Action|Thriller|Crime,Canal Plus|Twentieth Century Fox Film Corporat...,8/2/2005,6.1,2005
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,TriStar Pictures|Phoenix Pictures|Stage 6 Film...,8/17/2012,5.9,2012
333,tt1174732,7500000,26096852,An Education,Carey Mulligan|Olivia Williams|Peter Sarsgaard...,Lone Scherfig,Innocence of the Young.,A coming-of-age story about a teenage girl in ...,100,Drama|Romance,BBC Films,10/29/2009,6.8,2009
1112,tt0305224,75000000,195745823,Anger Management,Adam Sandler|Jack Nicholson|Luis GuzmÃ¡n|Maris...,Peter Segal,Feel the Love.,After a misunderstanding aboard an airplane th...,106,Comedy,Columbia Pictures|Revolution Studios|Happy Mad...,4/11/2003,5.9,2003
1083,tt0325980,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,Johnny Depp|Geoffrey Rush|Orlando Bloom|Keira ...,Gore Verbinski,Prepare to be blown out of the water.,"Jack Sparrow, a freewheeling 17th-century pira...",143,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films,7/9/2003,7.3,2003

In [77]:
movies.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [78]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:
movies['profit'] = movies['revenue'] - movies['budget']
movies['month'] = pd.to_datetime(movies.release_date).dt.month
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [79]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [80]:
# тут пишем ваш код для решения данного вопроса:
display(movies[movies.budget == movies.budget.max()].original_title)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [81]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [82]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [83]:
movies[movies.runtime == movies.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [84]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'# +

In [85]:
movies[movies.runtime == movies.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [86]:
answers['4'] = '2. 110' # +

In [87]:
round(movies.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [88]:
answers['5'] = '1. 107' # +

In [89]:
round(movies.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [90]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)' # +

In [91]:
movies[movies.profit == movies.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [92]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [93]:
movies[movies.profit == movies.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [94]:
answers['8'] = '1. 1478' # +

In [95]:
len(movies[movies.profit > 0].value_counts())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [96]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [97]:
movies_2008 = movies[movies.release_year == 2008] # выводим список фильмов 2008 года
movies_2008[movies_2008.revenue == movies_2008.revenue.max()].original_title # ищем там максимальные сборы

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [98]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [99]:
movies_1214 = movies.query('2012 <= release_year <= 2014') # выводим список фильмов с 2012 по 2014
movies_1214[movies_1214.profit == movies_1214.profit.min()].original_title # ищем там минимальную прибыль

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [100]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [101]:
movies_genres = movies.genres.str.split('|') # разделяем жанры по спискам
movies_genres = movies_genres.explode() # разделяем списки
movies_genres.value_counts() # считаем какой жанр встречается чаще

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [102]:
answers['12'] = '1. Drama'

In [103]:
movies_profit = movies[movies.profit > 0].copy() # выбираем только прибыльные фильмы
movies_profit.genres = movies_profit.genres.str.split('|') # разделяем жарны на списки
movies_profit = movies_profit.explode('genres') # разделяем списки по жанрам
movies_profit.genres.value_counts() # выводим список прибыльных жанров

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [104]:
answers['13'] = '5. Peter Jackson'

In [105]:
movies_director = movies.copy()
movies_director.director = movies_director.director.str.split('|') # разделяем режиссёров на списки
movies_director = movies_director.explode('director') # разделяем списки
movies_director = movies_director.groupby(['director'])['revenue'].sum() # группируем режиссёров и сумму их сборов
movies_director.sort_values(ascending=False) # выводим список режиссёров и сумму их сборов

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [106]:
answers['14'] = '3. Robert Rodriguez'

In [107]:
director_genres = movies[movies.genres.str.contains('Action')].copy() # создаём ДБ только с фильмами Action
director_genres.director = director_genres.director.str.split('|')
director_genres = director_genres.explode('director')
director_genres.director.value_counts() # выводим список режиссёров, снимавших такие фильмы

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Noam Murro            1
Neil Burger           1
Luis Mandoki          1
Brian Levant          1
Mathieu Kassovitz     1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [108]:
answers['15'] = '3. Chris Hemsworth'

In [109]:
movies_cast = movies[movies.release_year == 2012].copy() # выбираем фильмы 2012 года
movies_cast.cast = movies_cast.cast.str.split('|') # разделяем актёров по спискам
movies_cast = movies_cast.explode('cast') # делим списки
movies_cast = movies_cast.groupby(['cast'])['revenue'].sum() # группируем сумму сборов по актёрам
movies_cast.sort_values(ascending=False) # выводим список актёров, сортируя по сумме сборов

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [110]:
answers['16'] = '3. Matt Damon'

In [111]:
cast_budget = movies[movies.budget > movies.budget.mean()].copy() # выбираем фильмы с высоким бюджетом
cast_budget.cast = cast_budget.cast.str.split('|') # разделяем актёров по спискам
cast_budget = cast_budget.explode('cast') # делим списки
cast_budget.cast.value_counts() # выводим сколько раз актёры снимались в таких фильмах

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Tom Cruise          15
Eddie Murphy        15
                    ..
Charlie Tahan        1
Juno Temple          1
Alexander Siddig     1
Mr. T                1
Romany Malco         1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [112]:
answers['17'] = '2. Action'

In [113]:
movies_cage = movies[movies.cast.str.contains('Nicolas Cage')].copy() # выбираем фильмы с Николасом
movies_cage.genres = movies_cage.genres.str.split('|') # делим жанры по спискам
movies_cage = movies_cage.explode('genres') # разбиваем списки жарнам
movies_cage.genres.value_counts() # выводим список жанров, в которых снимался Кейдж

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [114]:
# 2 вариант
movies_cage = movies[movies.cast.str.contains('Nicolas Cage')].copy()
count = collections.Counter() 
new_data = movies_cage['genres'].str.split('|') 
for lists in new_data:
    for word in lists:
        count[word] += 1
count.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [115]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [116]:
movies_paramount = movies[movies.production_companies.str.contains('Paramount Pictures')].copy() # выбираем фильмы с Paramount
movies_paramount[movies_paramount.profit == movies_paramount.profit.min()].original_title # выводим фильм с минимальным profit

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [117]:
answers['19'] = '5. 2015'

In [118]:
movies_year = movies.groupby(['release_year'])['revenue'].sum() # группируем сумму сборов по годам
movies_year.sort_values(ascending=False).head(1) # выводим год с самыми большими сборами

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [119]:
answers['20'] = '1. 2014'

In [120]:
movies_warner = movies[movies.production_companies.str.contains('Warner Bros')].copy() # выбираем фильмы от Warner
movies_warner = movies_warner.groupby(['release_year'])['profit'].sum() # группируем сумму прибыли по годам
movies_warner.sort_values(ascending=False).head(1) # сортируем по убыванию, выводим год с наибольшей прибылью

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [121]:
answers['21'] = '4. Сентябрь'

In [122]:
# закомментировал создание колонки здесь, добавил в предобработку
# movies['month'] = pd.to_datetime(movies.release_date).dt.month # преобразуем дату и создадим колонку с месяцем
movies.month.value_counts() # выведем месяца, встречающиеся чаще всего

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [123]:
answers['22'] = '2. 450'

In [124]:
movies_summer = movies.query('6<=month<=8') # выбираем фильмы с 6 по 8 месяц(лето)
len(movies_summer) # проверяем длину = вычисляем сколько фильмов вышло летом

450

In [125]:
movies.month.isin([6,7,8]).value_counts() # ну или в одну строчку

False    1439
True      450
Name: month, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [126]:
answers['23'] = '5. Peter Jackson'

In [127]:
movies_winter = movies[movies.month.isin([12,1,2])] # выбираем зимние месяца
count = collections.Counter() # создаём Counter
movies_winter = movies_winter['director'].str.split('|') # делим продюсеров (надо бы уже просто вывести это наверх...)
for lists in movies_winter: # цикл, считает сколько раз продюсер встречается
    for word in lists:
        count[word] += 1
count.most_common(1) # выводим самого продуктивного (выпустил больше всего фильмов зимой)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [128]:
answers['24'] = '5. Four By Two Productions'

In [129]:
movies_title = movies.copy()
movies_title['title_length'] = movies_title.original_title.apply(lambda x: len(x))  # делаем новую колонку с количеством символов
movies_title.production_companies = movies_title['production_companies'].str.split('|')  # разделяем по спискам
movies_title = movies_title.explode('production_companies') # разделяем списки
movies_title = movies_title.groupby(['production_companies'])['title_length'].mean()  # группируем среднее количество символов по компаниям
movies_title.sort_values(ascending=False) # выводим список по убыванию

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [130]:
answers['25'] = '3. Midnight Picture Show'

In [131]:
movies_desc = movies.copy()
movies_desc['overview_length'] = movies_desc.overview.apply(lambda x: len(x.split(' '))) # новая колонка с кол-вом слов
movies_desc.production_companies = movies_desc['production_companies'].str.split('|')  # разделяем по спискам
movies_desc = movies_desc.explode('production_companies')  # разделяем списки
movies_desc = movies_desc.groupby(['production_companies'])['overview_length'].mean() # группируем срднее кол-во символов по студиям
movies_desc.sort_values(ascending=False)  # выводим список по убыванию

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [132]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [133]:
movies[movies.vote_average.quantile(.99) < movies.vote_average].original_title # выводим список фильмов наивысшим рейтингом (1%)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [134]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [135]:
movies_actors = movies.copy()
# создаём колонку с парами актёров, используя combinations
movies_actors['cast_pair'] = movies_actors.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x), 2)))
Counter(movies_actors.cast_pair.values.sum()).most_common(3) # с помощью Counter находим самые часто встречаемые пары

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [136]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [137]:
# и убедиться что ни чего не пропустил)
len(answers)

27